<h1> Sensors Page</h1>

<ul>
	<%= for snapshot <- snapshots do %>
	<li><img src="<%= snapshot %>" alt="snapshot"></li>
	<% end %>
</ul>

<h3>Animal locations</h3>

<ul>
	<%= for animal_location <- animal_locations do %>
	<li><%= inspect animal_location %></li>
	<% end %>
</ul>
